body
{
    margin: 0;
    padding: 0;

}
.box1{
    height: 100vh;
    width: 100%;
    background-image: url(bglast.jpg);
    background-size: cover;
    background-position: center;
}
.box2{
    height: 100vh;
    width: 100%;
    background-image: url(bg2.pg.jpg);
    background-size: cover;
    background-position: center;
}
.box3{
    height: 100vh;
    width: 100%;
    background-image: url(bg3.jpg);
    background-size: cover;
    background-position: center;
}
.box4{
    height: 100vh;
    width: 100%;
    background-image: url(bg4.jpg);
    background-size: cover;
    background-position: center;
}